/* utilities and global css */

:root {
    --bg-color: #beffc7;
    --secondary-bg: #f2f2f2;

    --yellow: #f1e06a;

    /* 
        for more details about this block of code
        read https://every-layout.dev/rudiments/modular-scale/ 
    */

    font-size: 1em;
    --ratio: 1.3;
    --s-7: calc(var(--s-6) / var(--ratio));
    --s-6: calc(var(--s-5) / var(--ratio));
    --s-5: calc(var(--s-4) / var(--ratio));
    --s-4: calc(var(--s-3) / var(--ratio));
    --s-3: calc(var(--s-2) / var(--ratio));
    --s-2: calc(var(--s-1) / var(--ratio));
    --s-1: calc(var(--s0) / var(--ratio));
    --s0: 1rem;
    --s1: calc(var(--s0) * var(--ratio));
    --s2: calc(var(--s1) * var(--ratio));
    --s3: calc(var(--s2) * var(--ratio));
    --s4: calc(var(--s3) * var(--ratio));
    --s5: calc(var(--s4) * var(--ratio));
    --line-height: var(--ratio);
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
    font-family: "Karla", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Rubik", sans-serif;
}

button {
    cursor: pointer;
}

.container {
    max-width: 1140px;
    margin-right: auto;
    margin-left: auto;
    padding-left: var(--s1);
    padding-right: var(--s1);
}

.w-50 {
    width: 50%;
}

.text-center {
    text-align: center;
}

/* specific CSS */

#app-holder {
    display: flex;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
}

#menu-cart {
    background-color: var(--secondary-bg);
    height: 500px;
    display: flex;
    padding: var(--s1);
    border-radius: var(--s0);
}

#menu-cart h2 {
    font-size: var(--s3);
    text-transform: lowercase;
    margin-bottom: var(--s1);
}

#menu {
    padding-left: var(--s1);
    padding-right: var(--s1);
    border-right: 2px solid black;
    width: 70%;
}

.menu-item {
    background-color: #dcdcdc;
    padding: var(--s-1) var(--s1);
    border-radius: var(--s-5);
    display: flex;
}

.menu-text {
    padding: var(--s-2) 0;
}

.menu-action {
    margin-left: auto;
}

.menu-action button {
    padding: var(--s-2) var(--s-1);
    background-color: var(--yellow);
    border-radius: var(--s-3);
    border: var(--yellow);
}

#menu-area>.menu-item+.menu-item {
    margin-top: var(--s-1);
}

#cart {
    padding-left: var(--s1);
    padding-right: var(--s1);
    border-left: 2px solid black;
    width: 30%;
    display: flex;
    flex-direction: column;
}

#cart-area {
    flex: 1 0 200px;
    font-size: var(--s1);
    display: flex;
    flex-direction: column;
}

.cart-item {
    display: flex;
    position: relative;
}

.cart-item .remove-button {
    position: absolute;
    right: calc(var(--s2) * -1);
    background-color: #efa2a2;
    border: #efa2a2;
    border-radius: var(--s-1);
    top: 50%;
    transform: translateY(-50%);
}

.item-total {
    margin-left: auto;
}

#cart-total {
    font-size: var(--s2);
    border-top: 3px solid black;
    padding: var(--s1) 0 var(--s1) var(--s1);
    margin-top: auto !important;
}

#cart-area>.cart-item {
    margin-top: var(--s-2);
}